.hind-light {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .hind-bold {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  